<!DOCTYPE html>
<html>
  <head>
    <title>MusicProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <div class="main_content_app">
      <h1 class="main_logo">Music App</h1>
      <nav>
        <a class="button" href="<%= new_session_url %>">Take me Home</a>
        <div class="user_detail">
          
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
